<template>
    <div>
        <h2>Async</h2>
        <h3>{{response}}</h3>
    </div>
</template>


<script>
    import axios from "axios";
    var url = "http://46.101.136.227:8080/textFile/wwwText.json";
    var data = '';
    export default {
        data: function () {
            return {
                path: '',
                response: {}
            }
        },
        mounted() {
            this.path = this.$route.path;
        },
        watch: {
            path: function (val) {
                this.changeSubContentMenue(val);
            }
        },
        methods: {
            async changeSubContentMenue(val) {
                this.pending = true;
                try {
                    switch (val) {
                        case "/html":
                            data = await axios.get(url);
                            this.response = data.data.html.async.content;
                            this.error = false;
                            break;
                        case "/css":
                            data = await axios.get(url);
                            this.response = data.data.css.async.content;
                            this.error = false;
                            break;
                        case "/javaScript":
                            data = await axios.get(url);
                            this.response = data.data.javascript.async.content;
                            this.error = false;
                            break;
                        case "/other":
                            this.response = 'Not Aviable ...';
                            break;
                    }
                } catch (e) {
                    this.response = null;
                    this.error = e;
                }
            }
        }
    }
</script>