<template>
    <div>
        <h2>Callback</h2>
        <h3>{{response}}</h3>
    </div>
</template>


<script>
    import axios from "axios";
    var  url = "http://46.101.136.227:8080/textFile/wwwText.json";

    export default {
        data: function () {
            return {
                path: '',
                response: {}
            }
        },
        mounted() {
            this.path = this.$route.path;
        },
        watch: {
            path: function (val) {
                this.changeSubContentMenue(val);
            }
        },
        methods: {
            changeSubContentMenue: function (val) {
                switch (val) {
                    case "/css":
                        axios.get(url).then((response) => {
                            this.response = response.data.css.callback.content;
                        }).catch(error => console.log(error));
                        break;
                    case "/html":
                        axios.get(url).then((response) => {
                            this.response = response.data.html.callback.content;
                        }).catch(error => console.log(error));
                        break;
                    case "/javaScript":
                        axios.get(url).then((response) => {
                            this.response = response.data.javascript.callback.content;
                        }).catch(error => console.log(error));
                        break;
                    case "/other":
                        this.response = 'Curren not Avilble';
                        break;
                }
            }
        }
    }
</script>