<template>
    <div>
        <h2>Class</h2>
        <h3>{{response}}</h3>
    </div>
</template>


<script>
    // import axios from "axios";
    var  url = "http://46.101.136.227:8080/textFile/wwwText.json";

    export default {
        data: function () {
            return {
                path: '',
                response: {}
            }
        },
        mounted() {
            this.path = this.$route.path;
        },
        watch: {
            path: function (val) {
                this.changeSubContentMenue(val);
            }
        },
        methods: {
            changeSubContentMenue: function (val) {
                switch (val) {
                    case "/css":
                        fetch(url, {
                            method: 'GET',
                            headers: new Headers({
                                'Content-Type': 'application/json'
                            }),
                        })
                            .then(res => res.json())
                            .then(res => {
                                this.response = res.css.class.content;
                            })
                            .catch(error => console.log(error));
                        break;
                    case "/html":
                        // axios.get('http://localhost:8080/textFile/wwwText.json').then((response) => {
                        //     this.response = res.css.promise.content;
                        // });
                        fetch(url, {
                            method: 'GET',
                            headers: new Headers({
                                'Content-Type': 'application/json'
                            }),
                        })
                            .then(res => res.json())
                            .then(res => {
                                this.response = res.html.class.content;
                            })
                            .catch(error => console.log(error));
                        break;
                    case "/javaScript":
                        // axios.get('http://localhost:8080/textFile/wwwText.json').then((response) => {
                        //     this.response = res.css.promise.content;
                        // });
                        fetch(url, {
                            method: 'GET',
                            headers: new Headers({
                                'Content-Type': 'application/json'
                            }),
                        })
                            .then(res => res.json())
                            .then(res => {
                                this.response = res.javascript.class.content;
                            })
                            .catch(error => console.log(error));
                        break;
                    case "/other":
                        this.response = 'Curren not Avilble';
                        break;
                }
            }
        }
    }
</script>