<template>
    <div class="footer">
        <span>Footer:</span>
        <ul>
            <li>Sitemap</li>
            <li>Home</li>
            <li>News</li>
            <li>Contact</li>
            <li>About</li>
        </ul>
    </div>
</template>