<template>
    <div id="content" class="content">
        <keep-alive>
            <component v-bind:is="getNameComponent"></component>
        </keep-alive>
    </div>
</template>


<script>
    import Promise from "../viewsComponent/Promise"

    export default {
        data: function () {
            return {

            }
        },
        computed: {
            getNameComponent: function () {
                return 'Promise';
            }
        },
        components: {
            Promise: Promise
        }
    }
</script>
