<template>
    <div id="headerBtn" class="header">
        <h2>WWW-Navigator</h2>
        <div class="button-groupe">
            <router-link to="/html">
                <button>HTMTL</button>
            </router-link>
            <router-link to="/css">
                <button>CSS</button>
            </router-link>
            <router-link to="/javaScript">
                <button>JavaScript</button>
            </router-link>
            <router-link to="/other">
                <button>Other</button>
            </router-link>
        </div>
    </div>
</template>

<style>
    .router-link-active button{
        background-color: #2cee27;
        color: #ffffff;
        font-weight: bold;
    }
</style>