<template>
    <div class="sidebar-1">
        <div class="button-groupe">
            <button v-for="(link, index ) in links" :class="link.activ ? 'btn-active' : ''" @click="loopActiv(link.path)" :key="index">{{link.path}}</button>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                links: [
                    {path: 'Promise', activ: false, component: 'Promise'},
                    {path: 'Async', activ: false, component: 'Async'},
                    {path: 'Fetch', activ: false, component: 'Fetch'},
                    {path: 'Callback', activ: false, component: 'Callback'},
                    {path: 'Class', activ: false, component: 'Class'}
                ]
            }
        },
        methods: {
            showPromise: function () {
                console.log('############CLICl')
            },
            loopActiv: function (currentIndex) {
                const this2 = this;
                this.links.forEach(function (element) {
                    element.path === currentIndex ? this2.changeCurrent(element) : element.activ = false;

                });
            },
            changeCurrent: function (element) {
                element.activ = true;
                this.$store.dispatch('setComponent',element.component);
            }
        },

        computed: {

        }
    }
</script>

<style>
    .btn-active{
        background: red;
    }
</style>