.footer {
    background-color: #000;
    color: #fff;
    display: -webkit-inline-box;
    justify-content: center;
    margin: auto;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer li {
    float: left;
    margin-left: .5em;
    text-decoration: underline;
}

.footer>span {
    font-size: 2em;
}
