router-link-active button{
    background-color: #2cee27;
    color: #ffffff;
    font-weight: bold;
}
#headerBtn{
    background-color: #C14F4F;
}
button {
    width: 7em;
    height: 2em;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 40px;
    background-color: #6A709E;
    border: 3px solid #c1c1c1;
    color: #000000;
    cursor: pointer;
}
.header{
    padding-bottom: 1em;
}
.header h2{
    font-size: 1.5em;
    color: #ffffff;
}