body {
    overflow: hidden;
    margin: 0;
}

button {
    width: 7em;
    height: 2em;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 40px;
    background-color: #6A709E;
    border: 3px solid #c1c1c1;
    color: #000000;
    cursor: pointer;
}

.button-groupe {
    margin-top: -1em;
}

.sidebar {
    border-right: 1px solid lightgrey;
}

.sidebar-1 {
    background-color: #C28282;
    color: #fff;
    text-align: center;
    word-break: break-all;
    font-size: 2em;
    width: 10em;
}

.sidebar-1 .button-groupe {
    display: grid;
    margin-top: 1em;
    padding-bottom: 100vh;
}

.sidebar-1 .button-groupe button {
    margin-bottom: 1em;
    /*font-style: .5em !important;*/
}