.sidebar-2 {
    background-color: #C28282;
    color: #fff;
    text-align: center;
    word-break: break-all;
    font-size: 2em;
    width: 35%;
    height: 100vh;
    float: right;
}
.sidebar {
    border-right: 1px solid lightgrey;
}