<!DOCTYPE html>
<html>
<head>
    <title>

    </title>
</head>

<body>
<h1>Salue les gens</h1>
<p><%= test %></p>
<form action="/" method="post">
    <input name="tom" type="file" />
<button type="submit">Merge files</button>
</form>
</body>
</html>
