<template>
  <div id="app">
    <div class="container">
      <navigation />
      <div class="body">
        <sitebare-left />
        <div id="content" class="content">
          <router-view />
        </div>
        <sitebar-right />
      </div>
      <footer-component />
      <ul class="source">
        <h2>Quellen</h2>
        <li>Import: Vue</li>
        <li>Import: Vue Router</li>
        <li>Import: axios</li>
        <li>Import: Vuex</li>
      </ul>
    </div>

  </div>
</template>
<style>
  body {
    overflow: hidden;
    margin: 0;
  }

  .container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:80px 1fr 45px;
    background-color: #000000;
  }

  .header {
    background-color: #C14F4F;
    color: #fff;
  }

  .header>h2 {
    text-align: center;
  }

  button {
    width: 7em;
    height: 2em;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 40px;
    background-color: #6A709E;
    border: 3px solid #c1c1c1;
    color: #000000;
    cursor: pointer;
  }

  .button-groupe {
    margin-top: -1em;
  }

  .sidebar {
    border-right: 1px solid lightgrey;
  }

  .footer {

    background-color: #000;
    color: #fff;
    display: -webkit-inline-box;
    justify-content: center;
    margin: auto;
  }

  .footer ul {
    list-style-type: none;
    padding: 0;
  }

  .footer li {
    float: left;
    margin-left: .5em;
    text-decoration: underline;
  }

  .footer>span {
    font-size: 2em;
  }

  .body {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    overflow: hidden;
  }

  .content {
    overflow-y: scroll;
    padding: 20px;
    background-color: #6A9EBD;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .sidebar-1,
  .sidebar-2 {
    background-color: #C28282;
    color: #fff;
    text-align: center;
    word-break: break-all;
    font-size: 2em;
  }

  .sidebar-1 .button-groupe {
    display: grid;
    margin-top: 1em;
  }

  .sidebar-1 .button-groupe button {
    margin-bottom: 1em;
  }
</style>

<script>
  import footerComponent from '@/components/shared/FooterComponent.vue'
  import navigation from '@/components/shared/Navigation.vue'
  import sitebareLeft from '@/components/shared/SitebareLeft.vue'
  import sitebarRight from '@/components/shared/SitebarRight.vue'
  export default {
    components: {
      footerComponent,
      navigation,
      sitebareLeft,
      sitebarRight
    }
    }
</script>
