body {
    overflow: hidden;
    margin: 0;
}
.button-groupe{
    padding-top: 4px;
}
.button-groupe a{
    color: #ffffff;
    text-decoration: none;
    float: right;
    margin-right: 1em;
}
.sidebar-1 a{
    color: #000000;
    text-decoration: none;
    font-size: .7em;
}
.homeUrl{
    margin-bottom: .2em;
    margin-left: .2em;
}
.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
    background-color: #000000;

}

.header {
    color: #fff;
}

.header>h2 {
    text-align: center;
}

button {
    width: 4em;
    background: none;
    color: #000;
    border: none;
    cursor: pointer;
}

.footer {
    background-color: #000;
    color: #fff;
    display: -webkit-inline-box;
    justify-content: center;
    margin: auto;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}
.sidebar-1 li:first-child{
    border-top: 1px solid gainsboro;
}
.sidebar-1 li {
    list-style: none;
    border-bottom: 1px solid gainsboro;
    cursor: pointer;
    font-size: .5em;
}
.sidebar-1 li:hover{
    background-color: #2cee27;
    color: #ffffff;
}
.sidebar-1 ul{
    margin: 0;
    padding: 0;
}
.footer li {
    float: left;
    margin-left: .5em;
    text-decoration: underline;
}

.footer>span {
    font-size: 2em;
}

.body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    overflow: hidden;
}

.content {
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #6A9EBD;
    color: #fff;
    text-align: center;
    margin: 0;
}

.sidebar-1{
    background-color: #ffffff;
    color: #000000;
    font-size: 2em;
    overflow-y: scroll;
    width: 7em;
}
.sidebar-1 li:last-child{
    margin-bottom: 1em;
}
.sidebar-1 li{
    padding-left: .3em;
    font-size: .6em !important;
}
.uebungLabel{
    font-size: .7em;
    background-color: gainsboro;
}
.uebungLabel .tooltiptext{
    visibility: hidden;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    font-size: 7px;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.uebungLabel:hover .tooltiptext{
    visibility: visible;
}
.newTapIcon img{
    width: 10px;
}
.newTapIcon:hover img{
    color: #ffffff;
    background-color: #2cee27;
}

.active, .btn:hover {
    background-color: #666;
    color: white;
}