<template>
    <div>
        <h1>JavaScript</h1>
        <keep-alive>
            <component v-bind:is="getNameComponent"></component>
        </keep-alive>
    </div>
</template>

<script>
    import Promise from '@/components/viewsComponent/Promise.vue'
    import Callback from '@/components/viewsComponent/Callback.vue'
    import Class from '@/components/viewsComponent/Class.vue'
    import Fetch from '@/components/viewsComponent/Fetch.vue'
    import Async from '@/components/viewsComponent/Async.vue'

    export default {
        data: function () {
            return {
                titel: '',
            }
        },
        computed: {
            getNameComponent: function () {
                return this.$store.state.activComponent;
            }
        },
        components: {
            Promise,
            Callback,
            Async,
            Class,
            Fetch
        }
    }
</script>