<template>
    <div class="about">
        {{test}}
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        data: function () {
            return {
                test: {}
            }
        },  
        mounted() {
            axios.get('https://jsonplaceholder.typicode.com/todos/1').then((response) => {
                this.test = response.data;

            })
        }
    }
</script>